$color-text: rgb(77, 40, 40);
$color-body: #eee;
$color-error:red;
$color-success:green;
$randomNumber: random(8);

.App {
  font-family: sans-serif;
  text-align: center;
}

body{
  background-color: $color-body;
  margin:0;
  padding:0;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bubble {
  animation: flicker $randomNumber+s ease alternate infinite;
}
form{
  padding:10px;
}
@mixin default-text {
  font-size: 12px;
}
@mixin basic-input {
  height:25px;
    color:rgb(87, 79, 79);
    border:1px solid rgb(190, 185, 185);
    border-radius: 3px;
    padding:0 5px;
    background-color:#fff;
}
.error-text {
  color: $color-error;
  @include default-text();
  width:100%;
  float:left;
  text-align: left;
}

.label-text {
  @include default-text();
  color: $color-text;
}

.button-basic {
  border: none;
  padding: 10px 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius : 5px;
  color:$color-body;
}

.button-submit  {
  @extend .button-basic;
  background-color: $color-success;
}

.box { 
  margin-bottom: 10px;
  width:100%;
  display: table;
  // justify-content: flex-start;
  // align-items: center;
  
  input { 
    @include basic-input();
    float:left;
    
  }
  label {
    margin-right:10px;
    float:left;
    margin-top:5px;
  }
}



.advertisment{
  background-color:rebeccapurple;
  padding: 6px;
  color: #fff;
  p{
    animation: flicker $randomNumber+s ease alternate infinite;
  }
}