$color-body: #eee;
$color-error:red;
$color-success:green;
$color-text: #909090;
$color-text-dark: #222222;
$color-btn: #2a69c2;
$color-shadow: #bbb;
$color-table-row-light: #ccc;
$color-table-row-dark: #ddd;

@mixin default-text {
  font-size: 14px;
  line-height: 1.5;
}

@mixin basic-input {
  height: 30px;
  color: $color-text;
  border: 1px solid $color-shadow;
  border-radius: 8px;
  background-color:white;
  box-shadow: 0 0 2px 0 $color-shadow;
  padding: 4px 8px;
}

@mixin fullscreen {
  width: 100%;
  height: 100%;
}

@mixin transition-all {
  transition: all 300ms linear;
}