@import "./global.scss";

html, body {
  padding: 0;
  margin: 0;
  @include fullscreen
}

* {
  box-sizing: border-box;
  outline: none;
}

body{
  background-color: $color-body;
  color: $color-text-dark;
  font-size: 16px;
  @include fullscreen();
}

#root {
  @include fullscreen();
}

.App {
  font-family: sans-serif;
  text-align: center;
  @include fullscreen();
  background-image: url("../images/background.jpg");
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: $color-text-dark;
}

button {
  appearance: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.my-4 {
  margin-top: 30px;
  margin-bottom: 40px;
}

@import "./pages.scss";
@import "./table.scss";